body
{
    background-color: #e0e0e0;
}


.article5 { 
background-color: blue;

}


h1 {
    left: 10%;
    position: relative;
}
header {
    display: flex;
    
}

pre
{
    white-space: pre-wrap;
}

.img_accueil {
<<<<<<< HEAD
width: 100%;
height: 80%;

=======
width: 75%;
height: 77%;
padding-right: 2.5%;
padding-left: 2.5%;
margin-top: 10%;
margin-left: 10%;
margin-right: 10%;
float: left;
>>>>>>> 229da293f510a5cbd53872bb192a002c6c6650f7
}

.button1 {
    text-align: right;
    position: absolute;
    right: 5%;
    top: 40px;
    display: flex;
    list-style-type: none;
    border: 1.5em solid grey;
}
#premier_li {
    margin-right: 2em;
}
.copyright {
    text-align: center;
}

.box
{
    background-color: #FFFFFF;
    border: red 3px solid;
    padding-right: 2.5%;
    padding-left: 2.5%;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 2%;
    margin-right: 2%;
    width: 40%;
    max-width: 40%;
    height: 30em;
    max-height: 30em;
    overflow: auto;
    text-align: justify;
    display: inline-block;
}

.head1 {
    display: flex;
    list-style-type: none;
    background-color: #e0e0e0;
}
.logo img{
    background-color: #e0e0e0;
    width: 120px;
    height: 110px;
}

.articleimg
{
    width: 25%;
    float: right;
    margin-bottom: 50px;
    padding-bottom: 50%;
    text-align: center;
    justify-content: center; display: flex;
    padding-top: 25%;
}


.clickable_return {
    position: relative;
    left: 12%;
}